<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Categories'), '<span class="zf-green">', '</span>') ?></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <?php foreach($categories as $category): ?>
                <li><?php echo $category->getName(); ?></li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
