<h3>Categorias</h3>
<br>
<p>
    <a href="<?php echo $this->url('livraria-admin-interna',
        array('controller'=>'categories','action'=>'new')); ?>">Novo</a>
</p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Ação</td>
    </tr>

    <?php foreach($this->data as $entity): ?>
        <tr>
            <td><?php echo $entity->getId(); ?></td>
            <td><?php echo $entity->getName(); ?></td>
            <td><a href="<?php echo $this->url('livraria-admin-interna',
                    array('controller'=>'categories','action'=>'edit','id'=>$entity->getId())); ?>">Editar</a> |
                <a href="<?php echo $this->url('livraria-admin-interna',
                    array('controller'=>'categories','action'=>'delete','id'=>$entity->getId())); ?>">Deletar</a></td>
        </tr>
    <?php endforeach; ?>
</table>
<br>
<?php echo $this->paginationControl($this->data,'Sliding','paginator'); ?>