<h5>Editando Livros</h5>

<?php

$form = $this->form;
$form->setAttribute('action', $this->url('livraria-admin-interna',array('controller'=>'books','action'=>'edit')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('name'));
echo $this->formRow($form->get('category'));
echo $this->formRow($form->get('author'));
echo $this->formRow($form->get('value'));
echo $this->formRow($form->get('isbn')) . "<br>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
