<h5>Novo Livro</h5>

<?php

$form = $this->form;
$form->setAttribute('action', $this->url('livraria-admin-interna',array('controller'=>'books','action'=>'new')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('name'))."<br><br>";
echo $this->formRow($form->get('category'))."<br><br>";
echo $this->formRow($form->get('author'))."<br><br>";
echo $this->formRow($form->get('value'))."<br><br>";
echo $this->formRow($form->get('isbn')) . "<br><br>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();